{% extends 'base.html.twig' %}

{% block title %}Liste des dresseurs{% endblock %}

{% block body %}

<h3>Liste des dresseurs :</h3>
    {% for dresseur in dresseurs %}
        <a href="/dresseur/{{ dresseur.id }}"> {{ dresseur.dresseurname }}<br>
    {% endfor %}




{% endblock %}