{% extends 'base.html.twig' %}

{% block title %}Dresseurs{% endblock %}

{% block body %}
    <h2 class="centered">Liste des dresseurs et leurs pokémons :</h2>

    {% for dresseur in dresseurs %}
        <div class="bg-{{ dresseur.name }} br-10 m-25">
            <h2 class="centered p-10">{{ dresseur.name }}</h2>
            <div class="team centered">
                {% for pokemon in dresseur.pokemons %}
                    {% include 'pokemon/card.html.twig' with {pokemon: pokemon} %}
                {% endfor %}
            </div>
        </div>
        <div class="separator"></div>
        <div class="separator"></div>
        <div class="separator"></div>

    {% endfor %}



{% endblock %}

