{% extends 'base.html.twig' %}

{% block body %}
    <p>Nom du pokémon : {{ pokedexNum.names.4.name }}</p>
    <p>Numéro Pokédex : {{ pokedexNum.id }}</p>
    <p>Type du pokémon : {{ pokedexNum.color.name }}</p>


{% endblock %}



